<% include ./partials/header %>


    <div class="ui main text container segment">
        <h1 class="ui center aligned huge header">Welcome to HomePage</h1>
        <a class="ui big fluid teal basic button" href="/students">View all Students</a>
    </div>



<% include ./partials/footer.ejs %>
