body{
    /*background: url(http://photo.foter.com/photos/m/395/vintage-typewriter-notebook-and-eyeglasses-on-wooden-table.jpg);*/
    /*background: url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?auto=format&fit=crop&w=890&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);*/
    background-size: cover;
    background-position: center;
    /*overflow: inherit;*/
    /*background: #000046;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #1CB5E0, #000046); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*background: #000000;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #434343, #000000);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #434343, #000000); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;

}

.container.auth{
    width: 30%;
}

.message{
    text-align: center;
}

 #delete{
     display:inline;
 }







